<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device=width, initial-scale=1.0, viewport-fit=cover"/>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/layout.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="view-name">ADMIN</div>
            </div>
        <div id="view">
            <div id="view-title">
            Pending Users 
            </div>
            <div id="content">
            <table>
                <tr><th>First</th><th>Last</th><th>Email</th><th>Requested Login</th><th>Notes</th></tr>
            {{ range . }}
                <tr>
                    <td>{{ .FirstName }}</td>
                    <td>{{ .LastName }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .ReqLogin }}</td>
                    <td>{{ .Notes }}</td>
                </tr>
            {{ end }}
            </table>
            </form>
            </div>
        </div>
    </body>
</html>