<!DOCTYPE html>
<html>
    <head>
        <title>Edit Track "{{ .Track.ProperTitle }}"</title>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {{ template "head" .}}
        <div id="main">
            <div id="content">
            {{ template "track_form" .}}
                <form class='edit' method="post" action="/track/{{.Track.Id}}/update_lyrics">
                    <fieldset><legend>Lyrics</legend>
                        <input type="hidden" name="lyrics_id" value="{{.Track.Lyrics.Id}}"/>
                        <textarea class="lyrics" name="lyrics" rows="20" cols="80">{{.Track.Lyrics.RawText}}</textarea>
                    </fieldset>
                    <input type="submit"/>
                </form>
            </div>
        </div>
        <div id="footer">
        </div>
    </body>
</html>