{{ define "head" }}
<div id="header">
    <div id="page-title"><h2>Setlist Noodlizer</h2></div>
    <div id="menu">
        <a href="/">Main</a>
        <a href="/tracks">All Tracks</a>
        <a href="/setlists">Setlists</a>
        <a href="/voxes">Vocalists</a>
        <a href="/eras">Eras</a>
        <a href="/genres">Genres</a>
        <a href="kits">Kits</a>
    </div>
</div>
{{ end }}