<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>All Tracks</title>
    </head>
    <body>
        {{ template "head" . }}
        <div id="main">
            <div id="content">
                <div class="submenu"><a href="/track/new">Add New Song</a></div>
                <table id='tracks'>
                    <tr>
                        <!--th><a href="/tracks?sort=title&dir=asc">Title</a></th-->
                        <th><a href="/tracks?sort=title&dir={{.Parms.title}}">Title</a></th>
                        <th><a href="/tracks?sort=tempo&dir={{.Parms.tempo}}">Tempo (BPM)</a></th>
                        <th><a href="/tracks?sort=vox&dir={{.Parms.vox}}">Vocalist</a></th>
                        <th><a href="/tracks?sort=era&dir={{.Parms.era}}">Era</a></th>
                        <th><a href="/tracks?sort=genre&dir={{.Parms.genre}}">Genre</a></th>
                        <th><a href='/tracks?sort=key_tone&dir={{.Parms.key_tone}}'>Keyboard Tone</a></th>
                        <th><a href="/tracks?sort=kit&dir={{.Parms.kit}}">Kit</a></th>
                        <th><a href="/tracks?sort=click&dir={{.Parms.click}}">Clicktrack?</a></th>
                        <th colspan=1></th>
                    </tr>
                    {{ range .Tracks }}
                    <tr>
                        <td>
                            <a href="/track/{{.Id}}">{{.ProperTitle}}</a>
                            {{ if eq .Lyrics.Id -1 }}
                            <span class="tag">NO LYRICS</span>
                            {{ end }}
                        </td>
                        <td class="center">{{.Tempo}}</td>
                        <td class="center"><a href="/vox/{{.Vox.Id}}">{{.Vox.ProperName}}</a></td>
                        <td class="center"><a href="/era/{{.Era.Id}}">{{.Era.ProperName}}</a></td>
                        <td class="center"><a href="/genre/{{.Genre.Id}}">{{.Genre.ProperName}}</a></td>
                        <td class="center">{{if ne .KeyTone ""}}{{ .KeyTone }}{{else}}None{{end}}</td>
                        <td class="center"><a href="/kit/{{.Kit.Id}}">{{.Kit.ProperName}}</a></td>
                        <td class="center">{{if .Click}}yes{{else}}no{{end}}</a></td>
                        <td class="center"><a href="/track/{{.Id}}/edit">edit</a></td>
                        <!--td class="center"><a href="/track/{{.Id}}/del">delete</a></td-->
                    </tr>
                    {{ end }} <!-- range -->
                </table>
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>